<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
  {{> navbar}}
  <div class="jumbotron text-center">
    <h1>Data</h1>
    <p>Data from IoT Device</p>
  </div>

  <div class="container-fluid">
    <div class="col-md-4">
      <table class="table table-striped">
        <tr><th>Light</th></tr>
        <tr><td id="light">light</td></tr>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-striped">
        <tr><th>Temperature</th></tr>
        <tr><td id="temperature">temperature</td></tr>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-striped">
        <tr><th>Humidity</th></tr>
        <tr><td id="humidity">humidity</td></tr>
      </table>
    </div>
  </div>

  <script>

  $(document).ready(function(){
    var $light = $('#light');
    var $temperature = $('#temperature');
    var $humidity = $('#humidity');
    const AUTH = 'd71ef867ed0f4a4b821d1f6d42b2abf9';
    const lightReqUrl = `http://blynk-cloud.com/${AUTH}/get/V5`;
    const temperatureReqUrl = `http://blynk-cloud.com/${AUTH}/get/V5`;
    const humidityReqUrl = `http://blynk-cloud.com/${AUTH}/get/V5`;

    setInterval(function(){
      $.ajax({
        type: 'GET',
        url: lightReqUrl,
        success: function(result){
          $light.html(result);
        },
        error: function(){
          console.log('Error in getting light');
        },
      });

      $.ajax({
        type: 'GET',
        url: temperatureReqUrl,
        success: function(result){
          $temperature.html(result);
        },
        error: function(){
          console.log('Error in getting temperature');
        },
      });

      $.ajax({
        type: 'GET',
        url: humidityReqUrl,
        success: function(result){
          $humidity.html(result);
        },
        error: function(){
          console.log('Error in getting humidity');
        },
      });
    }, 2000);

  });

  </script>
</body>
</html>
