<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
  {{> navbar}}
  <div class="jumbotron text-center">
    <h1>Data</h1>
    <p>Data from IoT Device</p>
  </div>

  <div class="row container-fluid">
    <div class="col-md-12">
      <table class="table table-striped">
        <tr><th>Light</th></tr>
        <tr><td>{{light}}</td></tr>
      </table>
    </div>
  </div>
</body>
</html>
