<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>

{{> navbar}}

<div class="jumbotron text-center">
  <h1>Welcome to Pervasive Computing</h1>
  <p>For testing IoT Device</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>How to Get Started</h3>
      <p>Click on Get Data in the Navbar above</p>

    </div>
    <div class="col-sm-4">
      <h3>REST API</h3>
      <p>Using Mongdb, Express.js, Node.js and Handlebars.js</p>

    </div>
    <div class="col-sm-4">
      <h3>Blynk Technology</h3>
      <p>IoT device sends data to Blynk Cloud, we then query Blynk Cloud using Blynk's RESTful API</p>

  </div>
</div>

</body>
</html>
